<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAL-VUsnIyltCB6hloGR-Ew4dneLp5Lqc8</string>
	<key>GCM_SENDER_ID</key>
	<string>532418010716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitBoost</string>
	<key>PROJECT_ID</key>
	<string>habit-boost-fe69a</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-boost-fe69a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532418010716:ios:373f9f3e006c7708d69099</string>
</dict>
</plist>